<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="M4Graphs.Core" version="2017.11.14.23" targetFramework="net461" />
  <package id="M4Graphs.Wpf" version="2017.11.14.34" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
</packages>